body {
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}

h1 {
  background-color: #161616;
  color: #fff;
  text-align: center;
}
p {
  font-size: 16px;
  text-align: center;
}
#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 450px;
  height: 550px;
  background-color: #474747;
  color: #fff;
  font-size: 25px;
}

#submit {
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
}

.guesses {
  background-color: #7a7a7a;
}

#guess {
  font-size: 55px;
  margin-top: 120px;
  color: #fff;
}

#guessField {
  color: #000;
  width: 230px;
  height: 40px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;
  border: 5px solid #6c6d6d;
  text-align: center;
}

.guesses {
  color: #ffffff;
  padding: 7px;
}
.lastResult {
  color: #ffffff;
  padding: 7px;
}

#newGame {
    background-color: #161616;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    margin-top: 50px;
    cursor: pointer;
  }